<div class="ui four item menu admin-menu">
  {{#link-to "admin" class="item"}}
    <a href={{view.href}}>All WODs</a>
  {{/link-to}}

  {{#link-to "create-wod" class="item"}}
    <a href={{view.href}}>Create WOD</a>
  {{/link-to}}

  {{#link-to "callouts" class="item"}}
    <a href={{view.href}}>All Callouts</a>
  {{/link-to}}

  {{#link-to "create-callout" class="item"}}
    <a href={{view.href}}>Create Callout</a>
  {{/link-to}}
</div>
