<div class="ui three item menu admin-menu">
  {{#link-to "admin" class="item"}}
    <a href={{view.href}}>All WODs</a>
  {{/link-to}}

  {{#link-to "create-wod" class="item"}}
    <a href={{view.href}}>Create WODs</a>
  {{/link-to}}

  {{#link-to "edit-callout" class="item"}}
    <a href={{view.href}}>Edit Callout</a>
  {{/link-to}}
</div>
