<div class="ui small modal" id="tag-modal">
  <i class="close icon"></i>
  <div class="content">
    <div class="ui medium header">Create Tag</div>
    <div class="ui input">
        {{input value=newTag}}
    </div>
  </div>
  <div class="actions">
    <div class="ui primary cancel button" {{action "createTag"}}>Create Tag</div>
  </div>
</div>
