<!-- <span>{{file.name}}</span><br/>
<img src="http://static.tumblr.com/x7kksjv/Fxhn19di9/ajax-loader.gif" class="preview" height="200"/> -->
{{ file-input fileChanged="fileSelectionChanged"}}
{{#if file}}
  <img id=img src="{{file.dataURL}}" width="300">
  Name:{{file.name}}
{{/if}}
