<nav class="ui borderless vertically fitted top fixed menu main-menu">
    <a class="left item" href="/"><img class="ui mini image mini-logo" src="/assets/EBCF_AnchorText.png"></a>

    {{#link-to "getting-started" class="item"}}
      GETTING STARTED
    {{/link-to}}

    {{#link-to "about" class="item"}}
      ABOUT US
    {{/link-to}}

    {{#link-to "schedule" class="item"}}
      SCHEDULE
    {{/link-to}}

    {{#link-to "pricing" class="item"}}
      PRICING
    {{/link-to}}

    {{#link-to "wods" class="item"}}
      WODs
    {{/link-to}}

    {{#link-to "news" class="item"}}
      NEWS
    {{/link-to}}

    {{#link-to "contact" class="item"}}
      CONTACT US
    {{/link-to}}
</nav>
