{{#ui-modal class="small" id="password-modal"}}
  <div class="content">
    <div class="ui medium header">Enter Password</div>

    <div class="ui input" id="image-url">
      {{input value=password type="password"}}
    </div>

    {{#if loginError}}
      <div class="ui negative small message">
        Login unsuccessful :(
      </div>
    {{/if}}

  </div>

  <div class="actions">
    <div class="ui primary button" {{action "enterPassword"}}>Enter</div>
  </div>
{{/ui-modal}}
