<div class="ui small active modal" id="password-modal">
  <div class="content">
    <div class="ui medium header">Enter Password</div>
    {{input value=password type="password"}}
    {{#if loginError}}
      Log in unsuccessful :( 
    {{/if}}
  </div>
  <div class="actions">
    <div class="ui primary approve button" {{action "enterPassword"}}>Enter</div>
  </div>
</div>
