{{#ui-sidebar class="inverted thin right vertical menu"}}
  <a class="left item" href="/"><img class="ui mini image" src="/assets/EBCF_AnchorText.png"></a>
  <a class="right item" href="/getting-started">GETTING STARTED</a>
  <a class="item" href="/about">ABOUT US</a>
  <a class="item" href="/schedule">SCHEDULE</a>
  <a class="item" href="/pricing">PRICING</a>
  <a class="item" href="/wods">WODs</a>
  <a class="item" href="/contact">CONTACT US</a>
{{/ui-sidebar}}
