<div class="banner {{img-src}}">
  <div class="ui grid container">
    <div class="ui computer only tablet only row">
      <h1 class="banner-header">{{page-title}}</h1>
    </div>
    <div class="ui mobile only center aligned row">
      <h1 class="banner-header-small">{{page-title}}</h1>
    </div>
  </div>
</div>
