<div class="banner {{imageSource}}">
  <div class="ui grid container">
    <div class="ui computer only tablet only row">
      <h1 class="banner-header">{{pageTitle}}</h1>
    </div>
    <div class="ui mobile only center aligned row">
      <h1 class="banner-header-small">{{pageTitle}}</h1>
    </div>
  </div>
</div>
