@import "partials/components/_image-uploader"
@import "partials/components/_post"
@import "partials/components/_wod-item"
@import "partials/_all-wods"

$primary-color: #F94725
$primary-color-hover: #e33303
$light-gray: #f2f2f2
$dark-gray: #333333
$medium-gray: #e0e1e2

.contact-map .g-map-canvas
  width: 100%
  height: 340px

.g-map-canvas
  width: 300px
  height: 300px
  margin: auto

.home-map
  background-image: url("/assets/map.png")
  width: 300px
  height: 300px
  background-size: cover
  margin: auto

/* headers */
h1
  font-family: 'Montserrat', sans-serif

h1.ui.primary
  color: $primary-color

h2
  font-family: 'Open Sans', sans-serif
  font-weight: 300

.uppercase
  text-transform: uppercase !important

p
  font-family: 'Open Sans', sans-serif
  font-weight: 300

p.large
  font-size: 18px

.ui.header
  font-family: 'Montserrat', sans-serif
  color: $dark-gray

.ui.orange.header
  color: $primary-color !important

/* Buttons */
.ui.button.primary
  background-color: $primary-color


.ui.button.primary:hover
  background-color: $primary-color-hover

.ui.button.primary:focus
  background-color: $primary-color

.ui.button:focus
  background-color: $medium-gray

.ui.grid
  padding-top: 1em

/* Select */
#selectTags input
  border: none

.select2-container
  min-width: 250px

.select2-results .select2-highlighted
    background: $light-gray
    color: #000

// should change this!
.small-img
  width: 100%


.ui.button.tag-button
  margin-right: 1em
  margin-top: 1em

/* Menu Styles*/
.main-menu a, .admin-menu a
  color: $dark-gray

.admin-menu
  color: $dark-gray

#logo
  width: 4.5em

.mini-logo
  padding: 4px
  margin-top: 2px
  margin-bottom: 2px

.ui.grid.poop
  padding: 0px

.ui.loading-message
  margin: 6em
  display:block
  height: 500px

.ui.error-message
  margin: 6em
  display: block

  i
    font-size: 200px

  h1
    font-size: 75px

.ui.menu
  // border: none
  box-shadow: none
  // z-index: 1000
  background: white
  // background-color: rgba(255, 255, 255, 0.9)

  .item
    font-family: 'Montserrat', sans-serif
    // padding: .8em
    // padding-left: 2em

.ui.menu-grid
  height: 63px

.hamburger
  z-index: 100
  cursor: pointer

// .pusher
//   min-height: 100%
//   position: relative

#footer-menu
  // margin-top: 351px
  background: $dark-gray
  color: white
  // padding-bottom: 1em
  // position: absolute
  // bottom: 0
  width: 101%
  min-height: 351px
  // display: block

  i.facebook, i.instagram
    color: white
    padding-left: 40px

  i.github, i.linkedin
    padding-left: 3px
    margin: 0

  img
    display: inline

  ul
    list-style-type: none

    li
      font-family: 'Open Sans', sans-serif
      font-weight: 300
      padding-bottom: 4px

    .footer-title
      font-family: 'Montserrat', sans-serif
      font-size: 17px
    a
      color: white
  a
    color: white
    font-family: 'Open Sans', sans-serif

  .bottom-footer
    background-color: black

    .crossfit-journal,   .crossfit-logo
      margin-right: 20px
      width: 120px

    .my-info
      font-size: .7em


/* Global */
.ui.grid.page-grid
  padding-bottom: 2em
  min-height: 400px

.ui.grid.bottom-padding
  padding-bottom: 2em

/* Home */
.home
  // background-image: url("/assets/home.jpg")
  background-size: cover
  background-repeat: no-repeat
  padding-top: 47px
  height: 450px
  // position: absolute
  // left: 0
  // top: 0
  // z-index: -1
  // background-position-y: 30%
h2 span
  font-family: 'Open Sans', sans-serif
  font-size: 1em

.ui.grid.video-grid
  padding-top: 11px
  margin: 0

  .column.video-column
    // padding-top: 33px
    height: 560px
    padding: 0

    video
      position: absolute
      top: -215px
      right: 0px
      background-size: cover
      background: no-repeat
      width: auto
      height: auto

    .ui.image
      position: relative
      top: 50px

.mobile-video-column
  // height: 450px
  background-image: url("/assets/flag-min.jpg")
  background-position-y: 25%
  background-position: center
  background-size: cover

  video
    width: 150%
    position: absolute
    top: 0
    left: 0

  .ui.image
    position: relative


.ui.grid.home-grid
  margin-top: 0px
  padding-top: 0px

.home-wod
  font-size: 400%

.mobile.only
  .home-wod
    font-size: 3.5em

.home-pre
  white-space: pre-wrap
  font-family: 'Open Sans', sans-serif
  color: $dark-gray
  font-weight: 300
  font-size: 15px

#callout-row
  background-color: $primary-color
  color: white
  padding: 5px

  h3
    font-family: 'Open Sans', sans-serif
    font-weight: 400

.home-2
  background-image: url("/assets/rings-min.jpg")
  background-size: cover
  color: white
  background-repeat: no-repeat
  width: 100%
  background-position-y: 30%
  background-attachment: fixed

  .grid
    height: 100%

  .column
    margin: auto

.home-2b
  background-image: url("/assets/rings-min.jpg")
  background-size: cover
  color: white
  background-repeat: no-repeat
  width: 100%
  background-position-y: 30%

  .grid
    height: 100%

  .column
    margin: auto

  p
    font-weight: 400

// gets rid of padding in between the gray and white grid
#row-3
  padding: 0

  .column
    padding: 1em

#row-1
  padding-bottom: 3.5em
  padding-top: 3.5em
  background: white

  .button-row
    padding-top: 15px

#row-2
  .column
    padding: 2em

  .comminity-image
    width: 300px
    height: 300px
    margin: auto
    background-size: cover
    background-image: url("/assets/community-home.jpg")

  .programming-image
    width: 300px
    height: 300px
    margin: auto
    background-size: cover
    background-image: url("/assets/programming-home.jpg")

  .results-image
    width: 300px
    height: 300px
    margin: auto
    background-size: cover
    background-image: url("/assets/results-home.jpg")

  .anchor-divider
    padding: 0

#row-4
  padding-top: 3em
  padding-bottom: 3em

/* Banner */
.banner
  width: 100%
  background-size: cover
  background-position-y: 99%
  height: 360px
  position: relative
  z-index: -1
  display: block
  background-repeat: no-repeat
  background-image: url("/assets/kettlebell-min.jpg")
  margin-bottom: 1%

  .ui.header
    color: white

  .banner-header
    margin: auto
    color: white
    font-size: 5em
    padding: 0px

  .banner-header-small
    margin: auto
    color: white
    font-size: 3.8em
    padding: 0px

  .grid
    height: 100%



.banner.coaches
  background-image: url("/assets/rings-min.jpg")
  background-position-y: 25%

.banner.about
  background-image: url("/assets/rings-min.jpg")
  background-position-y: 54%

.banner.schedule
  background-image: url("/assets/cam-min.jpg")
  background-position-y: 54%


.banner.pricing
  background-image: url("/assets/plates-min.jpg")
  background-position-y: 21%

.banner.getting-started
  background-image: url("/assets/row-min.jpg")
  background-position-y: 33%

.banner.wods
  background-image: url("/assets/white_board-min.jpg")
  background-position-y: 44%

.banner.wod
  background-image: url("/assets/white_board-min.jpg")
  background-position-y: 44%
/*Tag Styles*/
.button.tag
  margin: 0.3em

/* WODs */
.wod-list
  min-height: 500px

  .wod-loader
    top: 200px

.pre
  white-space: pre-wrap
  font-family: 'Open Sans', sans-serif
  font-weight: 300
  color: $dark-gray

hr
  width: 100%
  border-top: 1px solid $light-gray
  margin: 15px

.datepicker
  margin: auto
  width: 230px

.tag-search
  width: 230px

.button.older
  float: right
  z-index: 2

.header.wods-found
  padding: 10px

.trunckated
  overflow: hidden
  max-height: 500px
  min-height: 250px

.trunckated:after
  overflow: hidden
  content: ""
  position: absolute
  z-index: 1
  bottom: 0
  left: 0
  background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255, 2) 45%)
  width: 100%
  height: 6em


.read-more
  position: relative
  display: inline
  float: right
  z-index: 1
  color: $dark-gray
  font-family: 'Montserrat', sans-serif

.read-more:hover
    color: $primary-color-hover

/*Create Wod*/

input:-webkit-autofill
  -webkit-box-shadow: 0 0 0px 1000px white inset !important
  border: $light-gray .1em solid !important

.image-upload-wrapper
  margin-top: 10px
  margin-bottom: 10px

textarea
  width: 100%

.button.update-button
  margin-top: 20px
  margin-bottom: 20px

/*Contact Us*/
.grid.contact
  padding-top: 30px

/*Pricing*/
.pricing
  .segment
    min-height: 263px
    margin-bottom: 20px !important

  .primary.header
    padding-bottom: 0px

  .mobile-pricing
    .segment
      min-height: 200px

  h2
    padding: 10px

span
  font-family: 'Montserrat', sans-serif
  font-size: 1.25em

/*Edit Callout*/
.callout-input
  width: 100%

/*Getting Started*/
.image.getting-started
  background-image: url("/assets/hspu-min-small.jpg")
  -webkit-box-shadow: 10px 10px 59px -17px rgba(0,0,0,1)
  -moz-box-shadow: 10px 10px 59px -17px rgba(0,0,0,1)
  box-shadow: 10px 10px 59px -17px rgba(0,0,0,1)
