<div class="ui container">
  {{wod-form
    type="wod"
    wod=wod
    allTags=allTags
    submitForm="updateWod"
    imageUploadComplete=(action "imageUploadComplete")
    imageUploadFailed=(action "imageUploadFailed")}}
</div>
