
<div class="ui very relaxed grid container page-grid">
  <hr>

  <div class="ui segment">

    <div class="ui large header primary">
      PRIVACY POLICY
    </div>

    <div class="ui medium header primary">
      TO OUR INDIVIDUAL CLIENTS
    </div>
    <p>
      Your privacy is important to us, and maintaining your trust and confidence is one of our highest priorities. We respect your right to keep your personal information confidential and understand your desire to avoid unwanted solicitations. Providing personal information is an act of trust and it is taken seriously. Unless given consent to do otherwise, Elliott Bay CrossFit will only collect and use personal information as set out below. We are disclosing this policy to you so that you will have a better understanding of what we do with the information you provide us and how we keep it private and secure. Except as otherwise described in this notice, we restrict access to nonpublic personal information about you to employees of our gym who must use that information to provide services to you. Thank you for allowing us to serve all your fitness needs. We value your business and are committed to protecting you privacy. Please call us if you have any questions or if we can be of further service.
    </p>

    <div class="ui medium header primary">
      A. TYPES OF INFORMATION WE COLLECT
    </div>
    <p>
      We collect certain personal and billing information about you, only when that information is provided by you or is obtained by us with your authorization. We use that information solely for the purposes of setting up your account in our business management software which collects scheduled payments and for merchandising. This information is mandatory to setup an account with our facility and will be used only to create your Elliott Bay CrossFit membership. As a general rule, we do not disclose personal information about our clients or former clients to anyone for any reason without your consent or authorization.
    </p>

    <div class="ui medium header primary">
      B. USING AND DISCLOSING YOUR PERSONAL INFORMATION
    </div>
    <p>
      Personal Information will be used for the following primary purpose:
      • To fulfill obligations under your membership agreement and/or any other contract between you and Elliott Bay CrossFit
      • To render services under your membership agreement.
      • To provide information about products, service and/or special offers.
      • To obtain opinions or comments about products and/or services.
      • To record statistical data for marketing analysis.
      Elliott Bay CrossFit may employ other companies or individuals to assist us in providing our services, or to provide certain services such as providing marketing assistance or consulting services. These third parties may have access to information needed to perform their function but cannot use that information for other purposes.
    </p>

    <div class="ui medium header primary">
      SERVICE PROVIDERS
    </div>
    <p>
      We use third party business management software to bill you for services and an email service provider to send out emails on our behalf. We use discussion board and forum software to give you an opportunity to communicate with other members while using our site. You will always be asked to sign-up for any of our third party software and we do not give your information to them for any reason.
    </p>

    <div class="ui medium header primary">
      ACCESS TO PERSONAL INFORMATION
    </div>
    <p>
      If your collected information changes, or if you no longer desire our service, you may correct, update, and delete/deactivate it by emailing our customer support at info@foundationcrossfit.com. We will respond to your request promptly.
    </p>

    <div class="ui medium header primary">
      STORAGE AND SECURITY OF PERSONAL INFORMATION
    </div>
    <p>
      Elliott Bay CrossFit will take all reasonable steps to keep secure any personal information recorded, and to keep this information accurate and up to date. The information is stored on secure servers if in digital format, or in locked areas if in hardcopy format. Elliott Bay CrossFit employees are obliged to respect the confidentiality of any personal information. However, security of communications over the Internet cannot be guaranteed, and therefore absolute assurance that information will be secure at all times cannot be given. Elliott Bay CrossFit will not be held responsible for events arising from unauthorized access to personal information.
    </p>

    <div class="ui medium header primary">
      ELLIOT BAY CROSSFIT AND LINKS TO OTHER WEBSITES
    </div>
    <p>
      Elliott Bay CrossFit may provide links to web sites outside of the Elliott Bay CrossFit site. These linked sites are not under the control of Elliott Bay CrossFit, and Elliott Bay CrossFit is not responsible for the conduct of companies linked to the Elliott Bay CrossFit web site, nor for the performance or otherwise of any content and/or software contained in such external websites.
    </p>

  </div>
</div>
