.image-uploader
  width: 100%

  .image-container
    height: 350px
    width: 350px

    .image
      width: 100%

  .banner
    height: 350px
    overflow: hidden
    width: auto

    .image
      width: 100%
      position: relative
      top: -50%

  .controlls
    display: flex
    align-items: center

    input
      display: none

    .or-divider
      margin: 20px

    .image-url
      flex-grow: 1
      width: 100%

      input
        display: inline
//
// .wod-image
//   vertical-align: middle
//   width: 100%
  // -webkit-box-shadow: -15px 18px 85px -6px rgba(179,179,179,1)
  // -moz-box-shadow: -15px 18px 85px -6px rgba(179,179,179,1)
  // box-shadow: -15px 18px 85px -6px rgba(179,179,179,1)

.place-holder-image
  background-image: url("https://s3-us-west-2.amazonaws.com/ebcf/assets/place-holder-image.png")
