.image-uploader
  width: 100%

  .image-container
    height: 350px
    width: 350px
    overflow: hidden

    .image
      width: 100%

  .banner
    height: 350px
    overflow: hidden
    width: auto
    position: relative

    .image
      width: 100%
      position: absolute
      top: -50%

  .controlls
    display: flex
    align-items: center

    input
      display: none

    .or-divider
      margin: 20px

    .image-url
      flex-grow: 1
      width: 100%

      input
        display: inline
