.image-uploader
  width: 100%

  .image-container
    .content
      img
        width: 100%

    .banner
      width: 100%
      height: auto

      @media screen and (max-width: 600px)
        .image
          overflow: hidden
          margin-bottom: 24px
          width: auto
          height: 250px

          img
            width: 100%
            height: auto
            position: relative
            left: 50%
            top: 50%
            transform: translateY(-50%) translateX(-50%)
            -webkit-transform: translateY(-50%) translateX(-50%)

      @media screen and (min-width: 600px)
        .image
          overflow: hidden
          margin-bottom: 24px
          width: auto
          height: 480px

          img
            width: 100%
            height: auto
            position: relative
            left: 50%
            top: 50%
            transform: translateY(-50%) translateX(-50%)
            -webkit-transform: translateY(-50%) translateX(-50%)

  .controlls
    display: flex
    align-items: center

    input
      display: none

    .or-divider
      margin: 20px

    .image-url
      flex-grow: 1
      width: 100%

      input
        display: inline
