.post-item
  width: 100%

  .post-headers

    .post-date, .post-title
      margin: 3px !important

  .post-content
    display: flex
    justify-content: space-between
    padding-top: 20px

    .content-image
      flex-grow: 2

      img
        width: 300px
        height: 300px

    .content
      flex-grow: 3

  .banner-image
    width: auto
    height: 325px
    overflow: hidden
    position: relative

    .post-image
      width: 100%
      position: absolute
      top: -50%


  // .content-image
  //   width: 300px
  //   height: 300px
  //   overflow: hidden
  //
  //   .post-image
  //     width: 100%
