<div class="ui container">
  {{wod-form
    enabled=enabled
    image=image
    date=datePickerDate
    allTags=tags
    publishDay=publishDay
    publishTime=publishTime
    strength=strength
    conditioning=conditioning
    videoId=videoId
    description=description
    submitForm=(action "createWod")
    imageUploadComplete=(action "imageUploadComplete")
    imageUploadFailed=(action "imageUploadFailed")}}
</div>
