<div class="ui container">
  {{post-form
    enabled=enabled
    bannerImage=bannerImage
    contentImage=contentImage
    title=title
    content=content
    date=date
    publishDay=publishDay
    publishTime=publishTime
    submitForm=(action "createPost")
    contentImageUploadComplete=(action "contentImageUploadComplete")
    contentImageUploadFailed=(action "contentImageUploadFailed")
    bannerImageUploadComplete=(action "bannerImageUploadComplete")
    bannerImageUploadFailed=(action "bannerImageUploadFailed")}}
</div>
