<div class="ui container">
  {{post-form
    enabled=post.enabled
    bannerImage=post.bannerImage
    contentImage=post.contentImage
    title=post.title
    content=post.content
    date=post.datePickerDate
    publishDay=post.publishDay
    publishTime=post.publishTime
    submitForm=(action "updatePost")
    contentImageUploadComplete=(action "contentImageUploadComplete")
    contentImageUploadFailed=(action "contentImageUploadFailed")
    bannerImageUploadComplete=(action "bannerImageUploadComplete")
    bannerImageUploadFailed=(action "bannerImageUploadFailed")}}
</div>
