<div class="sixteen wide right aligned column">
  {{#link-to "news" class="back"}}
    <i class="chevron left icon"></i>
    Back
  {{/link-to}}
</div>

<div class="row">
  {{post-item post=model}}
</div>
