<div class="banner">
  <h1 class="banner-header">ABOUT US</h1>
</div>

<div class="ui vertically divided centered grid">
  <div class="row">
    <div class="eight wide center aligned column">
      <div class="ui primary large header">OUR MISSION</div>
      <p class="large">
        Our mission is to help you reach your fitness and health goals.
        We are focused on prividing the best possible environment for people of all fitness levels to help them live a healthier life style.
      </p>
    </div>
  </div>

  <div class="row">
      <div class="six wide column">
        <div class="ui primary large header">OUR COACHES</div>
        <p class="large">
          We have three amazing, knowledgeable, and experienced coaches who know how to drive results.
          Their passion and dedication is a major reason why our community of CrossFit athletes excel.
        </p>
        {{#link-to 'coaches' class="ui primary button"}} MEET OUR COACHES{{/link-to}}
      </div>

      <div class="three wide column">
        <img class="ui medium image" src="/assets/coaches.jpg">
      </div>
  </div>

  <div class="row">
      <div class="ui centered grid">
        <div class="eight wide center aligned column">
          <div class="ui primary large header">OUR COMMUNITY</div>
          <p class="large">
            Reaching your fitness goals is tough to do alone.
            At Elliott Bay CrossFit, you will be surrounded by fun and supportive people who are all on the same fitness journey.
            Our community cultivates an environment of motivation and accountability that will push you everyday to get better.
          </p>
        </div>
        <div class="fourteen wide center aligned column">
          <div class="ui middle aligned medium images">
            <img src="/assets/hank.jpg">
            <img src="/assets/elysian.jpg">
            <img src="/assets/kelly_daniel.jpg">
            <img src="/assets/sarah.jpg">
            <img src="/assets/stretch.jpg">
            <img src="/assets/wall_balls.jpg">
            <img src="/assets/ryan_andrew.jpg">
            <img src="/assets/lindsey_carson_daniel.jpg">
          </div>
        </div>
    </div>
  </div>
</div>
