{{title "About Us"}}

<div class="ui grid container page-grid">
  <div class="centered row">
    <div class="fourteen wide center aligned column">
      <div class="ui primary large header">OUR MISSION</div>
      <p class="large">
        Our mission is to help you reach your fitness and health goals.
        We are focused on providing the best possible environment for people of all fitness levels to help them live a healthier lifestyle.
      </p>
    </div>
  </div>

  <hr>

  <div class="centered row">
    <div class="fourteen wide center aligned column">
      <div class="ui primary large header">OUR COACHES</div>

      <p class="large">
        We have knowledgeable and experienced coaches who know how to drive results.
        Their passion and dedication is a major reason why our community of CrossFit athletes excels.
      </p>
    </div>
  </div>

  <div class="centered row">
    <div class="five wide center aligned computer only column">
      <img class="ui large middle aligned image" alt="Elliott Bay CrossFit Coaching" src="/assets/coaching.jpg">
    </div>

    <div class="fourteen wide mobile five wide computer center aligned column">
      <img class="ui large middle aligned image" alt="Elliott Bay CrossFit Coaches" src="/assets/coaches.jpg">
    </div>

    <div class="five wide center aligned computer only column">
      <img class="ui large middle aligned image" alt="Elliott Bay CrossFit Coaches"src="/assets/rohan_drew.jpg">
    </div>
  </div>

  <div class="centered row">
    {{#link-to 'coaches' class="ui primary large button"}} MEET OUR COACHES{{/link-to}}
  </div>

  <hr>

  <div class="centered row">
    <div class="fourteen wide center aligned column">
      <div class="ui primary large header">OUR COMMUNITY</div>
      <p class="large">
        At Elliott Bay CrossFit, you will be surrounded by fun, dedicated, and compassionate athletes who are all on the same fitness journey.
        Our community cultivates an environment of motivation and accountability that will push you everyday to get better.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="sixteen wide center aligned column">
      <div class="ui medium images">
        <img alt="Elliott Bay CrossFit Dog" src="/assets/hank.jpg">
        <img alt="Elliott Bay CrossFit at the Elysian Games" src="/assets/elysian.jpg">
        <img alt="Elliott Bay CrossFit Girls" src="/assets/kelly_daniel.jpg">
        <img alt="Sarah at Elliott Bay CrossFit" src="/assets/sarah.jpg">
        <img alt="Warming Up at Elliott Bay CrossFit" src="/assets/stretch.jpg">
        <img alt="Elliott Bay CrossFit Trip to Mailbox Peak" src="/assets/mailbox.jpg">
        <img alt="Open 15.5 at Elliott Bay CrossFit" src="/assets/ryan_andrew.jpg">
        <img alt="Elliott Bay CrossFit Girls" src="/assets/lindsey_carson_daniel.jpg">
        <img alt="Elliott Bay CrossFit Baby" src="/assets/baby.jpg">
      </div>
    </div>
  </div>
</div>
