<!-- <div class="ui seven column grid menu"> -->
	<!-- <ul>
		<li>{{#link-to "contact"}}CONTACT{{/link-to}}</li>
		<li>{{#link-to "wods"}}WODs{{/link-to}}</li>
		<li>{{#link-to "pricing"}}PRICING{{/link-to}}</li>
		<li>{{#link-to "schedule"}}SCHEDULE{{/link-to}}</li>
		<li>{{#link-to "about"}}ABOUT US{{/link-to}}</li>
		<li>{{#link-to "getting-started"}}GETTING STARTED{{/link-to}}</li>

		<li id="menu-logo">{{#link-to "index"}}<img class="ui mini image" src="/assets/EBCF_AnchorText.png">{{/link-to}}</li>
	</ul> -->
	<!-- <div class="one wide left floated column" id="">{{#link-to "index"}}<img class="ui mini image" src="/assets/EBCF_AnchorText.png">{{/link-to}}</div>
	<div class="center aligned one wide column">{{#link-to "contact"}}CONTACT{{/link-to}}</div>
	<div class="center aligned one wide column">{{#link-to "wods"}}WODs{{/link-to}}</div>
	<div class="center aligned one wide column">{{#link-to "pricing"}}PRICING{{/link-to}}</div>
	<div class="center aligned one wide column">{{#link-to "schedule"}}SCHEDULE{{/link-to}}</div>
	<div class="center aligned one wide column">{{#link-to "about"}}ABOUT US{{/link-to}}</div>
	<div class="center aligned two wide column">{{#link-to "getting-started"}}GETTING STARTED{{/link-to}}</div> -->

<!-- </div> -->

<!-- <div class="ui container"> -->
	<!-- <div class="ui borderless vertically fitted top fixed stackable menu"> -->
		<!-- <div class="left menu">
			<a class="item" href="/">
				<img id="logo" src="/assets/ebcf_logo.png">
			</a>
		</div> -->
		<!-- <a class="item" href="/"><img class="ui mini image" src="/assets/EBCF_AnchorText.png"></a> -->
		<!-- <div id="menu-logo">{{#link-to "index"}}<img class="ui mini image" src="/assets/EBCF_AnchorText.png">{{/link-to}}</div> -->
		<div class="ui borderless vertically fitted top fixed menu">
			<a class="left item" href="/"><img class="ui mini image" src="/assets/EBCF_AnchorText.png"></a>
			<a class="right item" href="/getting-started">GETTING STARTED</a>
			<a class="item" href="/about">ABOUT US</a>
			<a class="item" href="/schedule">SCHEDULE</a>
			<a class="item" href="/pricing">PRICING</a>
			<a class="item" href="/wods">WODs</a>
			<a class="item" href="/contact">CONTACT US</a>
		</div>


		<!-- <i class="content icon"></i>
		{{#ui-sidebar class="inverted vertical menu"}}
			<a class="left item" href="/"><img class="ui mini image" src="/assets/EBCF_AnchorText.png"></a>
			<a class="right item" href="/getting-started">GETTING STARTED</a>
			<a class="item" href="/about">ABOUT US</a>
			<a class="item" href="/schedule">SCHEDULE</a>
			<a class="item" href="/pricing">PRICING</a>
			<a class="item" href="/wods">WODs</a>
			<a class="item" href="/contact">CONTACT US</a>
		{{/ui-sidebar}}
		<div class="ui grid pusher">
		</div> -->
	<!-- </div> -->

	<!-- <div class="ui borderless vertically fitted top vertical mobile only menu">

		<a class="item" href="/"><img class="ui mini image" src="/assets/EBCF_AnchorText.png"></a>
		<div class="right menu">
			<a class="item" href="/getting-started">GETTING STARTED</a>
			<a class="item" href="/about">ABOUT US</a>
			<a class="item" href="/schedule">SCHEDULE</a>
			<a class="item" href="/pricing">PRICING</a>
			<a class="item" href="/wods">WODs</a>
			<a class="item" href="/contact">CONTACT US</a>
		</div>
	</div> -->
<!-- </div> -->

<!-- <div class="ui container"> -->
	<!-- {{#create-tag enabled=true title="--Simple Modal--"}}
		<div class="ui input">
			<input type="text" value={{newTag}}>
		</div>
 {{/create-tag}} -->
	{{outlet}}
	<!-- {{outlet 'modal'}} -->
	{{modal}}

<!-- </div> -->

<div class="ui three column centered stackable grid footer-menu">

	<div class="three wide column">
		<ul>
			<li class="footer-title">SITE MAP</li>
			<li>{{#link-to "index"}}Home{{/link-to}}</li>
			<li>{{#link-to "getting-started"}}Getting Started{{/link-to}}</li>
			<li>{{#link-to "about"}}About EBCF{{/link-to}}</li>
			<li>{{#link-to "schedule"}}Schedule{{/link-to}}</li>
			<li>{{#link-to "pricing"}}Pricing{{/link-to}}</li>
			<li>{{#link-to "wods"}}WODs{{/link-to}}</li>
			<li>{{#link-to "contact"}}Contact Us{{/link-to}}</li>
		</ul>
	</div>

	<div class="three wide column">
		<ul>
			<li class="footer-title">CONTACT US</li>
			<li>info@elliottbaycrossfit.com</li>
			<li>209 Bell St Seattle * WA 98121</li>
		</ul>
	</div>

	<div class="three wide left aligned column">
		<ul>
			<li class="footer-title">FOLLOW US</li>
		</ul>
		<a href="https://www.facebook.com/elliottbaycf">
			<i class="huge facebook square link icon" ></i>
		</a>
		<a href="https://www.instagram.com/elliottbaycrossfit/">
			<i class="huge instagram link icon"></i>
		</a>
	</div>
</div>
