<div class="menu">
	<ul>
		<li>{{#link-to "getting-started"}}Getting Started{{/link-to}}</li>
		<li>{{#link-to "about"}}About EBCF{{/link-to}}</li>
		<li>{{#link-to "schedule"}}Schedule{{/link-to}}</li>
		<li>{{#link-to "pricing"}}Pricing{{/link-to}}</li>
		<li>{{#link-to "wods"}}WODs{{/link-to}}</li>
		<li>{{#link-to "contact"}}Contact Us{{/link-to}}</li>
	</ul>
</div>

<!-- <div class="ui container">
	<div class="ui pointing borderless top menu">
		<div class="left menu">
			<a class="item" href="/">
				<img id="logo" src="/assets/ebcf_logo.png">
			</a>
		</div>
		<div class="right menu">
			<a class="item" href="/getting-started">Getting Started</a>
			<a class="item" href="/about">About EBCF</a>
			<a class="item" href="/schedule">Schedule</a>
			<a class="item" href="/pricing">Pricing</a>
			<a class="item" href="/wods">WODs</a>
			<a class="item" href="/contact">Contact Us</a>
		</div>
	</div>
</div> -->

<!-- <div class="ui container"> -->
	<!-- {{#create-tag enabled=true title="--Simple Modal--"}}
		<div class="ui input">
			<input type="text" value={{newTag}}>
		</div>
 {{/create-tag}} -->
	{{outlet}}
	<!-- {{outlet 'modal'}} -->
	{{modal}}

<!-- </div> -->
