{{title-banner img-src="coaches" page-title="ABOUT US"}}

<div class="ui center aligned one column vertically stackable centered grid container page-grid">

  <div class="row">
    <div class="five wide column">
      <img class="ui medium circular image" src="/assets/rohan.jpg">
    </div>
    <div class="nine wide column">
      <h1 class="ui huge header">
        Rohan Joseph
        <h3 class="ui header">Coach & Owner
          <div class="sub header">CrossFit Level 1 Certified</div>
        </h3>
      </h1>

      <p>
        I used to be one of the fat asthmatic kids, with a flabby gut below a nice pair of man boobs.
        In 6th grade, I tried out for the Math Relay team (I’m an engineer outside of CrossFit, math is my thing) and was cut for being too slow.
        It was quite pathetic. Finally, midway through high school, after years of torment (mostly from my brother), I decided to take a look at fitness and make some serious changes.
        I’ve never looked back since and now always look for ways to push my limits.
      </p>
      <p>
        While living in CA in 2008, a buddy from my football team brought me to his gym.
        Here they focused solely on functional movement, but were primarily strength based.
        Regardless, I was hooked and began seeing changes/improvements I hadn’t known before.
        When I moved back to WA I tried to find something similar and settled with a local powerlifting gym; I even competed.
        I enjoyed it, but yearned for something more multi-dimensional.
        Luckily I came across YouTube highlights of the ’09 CrossFit Games.
        I couldn’t stop watching. Not only could these guys powerlift, they had athletic ability in so many other facets.
        Like real life ninja training. I had to get a piece. That’s when I walked into my local box and did Karen day 1.
        I felt like I was going to die. I couldn’t wait for day 2…
      </p>
      <p>
        Since then, CrossFit has evolved into much more than my daily workout.
        It’s part of who I am and the lifestyle I choose to live.
        It’s opened so many doors and introduced me to so many new friends.
        I can easily say, while the fitness aspects are amazing, the community it has created for me is the number one benefit and one I hope to pass along at Elliott Bay CrossFit.
      </p>
    </div>
    <div class="ui horizontal divider">
      <i class="anchor icon"></i>
    </div>
  </div>

  <div class="row">
    <div class="five wide column">
      <img class="ui medium circular image" src="/assets/drew.jpg">
    </div>
    <div class="nine wide column">
      <h1 class="ui huge header">
        Drew Smith
          <h3 class="ui header">Coach
            <div class="sub header">CrossFit Level 1 Certified</div>
          </h3>
      </h1>

      <p>
        In 2006, I was working out at an LA fitness and just going through the motions of being a body builder when a buddy told me to try this workout he saw on the Internet.
        That humbling workout led me back to CrossFit.com and the rest is history.
        CrossFit gave me an outlet for my competitive drive that I had been missing since I left high school sports.
        After all these years doing CrossFit I realize that it has given me so much more than just fitness — it has given me a community and some great friends.
        The CrossFit community allows me to workout and truly care about the person working out next to me.
      </p>
      <p>
        These past 7 years, I have learned a great deal through hands-on experience and the advice of some truly amazing mentors.
        I truly want everyone who comes to our gym to walk away fitter and more knowledgeable about movement.
        This is my passion and I try and share that passion through my instruction.
      </p>

    </div>
    <div class="ui horizontal divider">
      <i class="anchor icon"></i>
    </div>
  </div>


  <div class="row">
    <div class="five wide column">
      <img class="ui medium circular image" src="/assets/tali.JPG">
    </div>
    <div class="nine wide column">
      <h1 class="ui huge header">
        Tali Stivers
        <h3 class="ui header">Coach
          <div class="sub header">Level 1 Certified</div>
          <div class="sub header">CrossFit Olympic Lifting Certified</div>
          <div class="sub header">B.S. in Sport and Exercise Science</div>
        </h3>
      </h1>

      <p>
        I've been active my whole life--fitness, sport, athletics--whatever you call it it's been a passion of mine.
        I ran D1 track and field at the University of Northern Colorado where I specialized in hurdles, jumps, and sprints.
        During my last year I also was the assistant strength and conditioning coach overseeing many sports.
        After college I avoided CrossFit for quite awhile allowing negative influences to affect my pursuit.
        Nevertheless in my search to stay active after college athletics I finally had to give it a try.
      </p>
      <p>
        In 2012 I started at CrossFit Roseville. Instantly I fell in love with the community and the sport!
        So much so that my husband Kenny and I became owners and coaches of CrossFit Roseville in 2014.
        Though we have been relocated to Seattle I have years of experience coaching the ins and outs of CrossFit.
        For myself, I quickly found I became a more well-rounded athlete and my life was being positively effected from my CF time.
        I loved challenging my athleticism and building community! I coach to bring this same challenge, joy, and reward to others lives.
      </p>
    </div>
    <div class="ui horizontal divider">
      <i class="anchor icon"></i>
    </div>
  </div>


  <div class="row">
    <div class="five wide column">
      <img class="ui medium circular image" src="/assets/cam.JPG">
    </div>
    <div class="nine wide column">
      <h1 class="ui huge header">
        Cameron Saunter
        <h3 class="ui header">Coach
          <div class="sub header">CrossFit Level 1 Certified</div>
          <div class="sub header">USAW Sports Performance Certified</div>
        </h3>
      </h1>

      <p>
        Born and raised in the great pacific northwest.
        Sports have always been a big part of my life growing up.
        After playing soccer in college, I was in search of that competitive edge I was always chasing and one day in 2013 I found it with CrossFit.
        My journey started when my neighbor across the street had a garage gym and asked if I wanted to do a WOD.
        As confused as I was I gave it a shot and was hooked ever since.
      </p>
      <p>
        Now that I have been doing CrossFit for a few years the gym has always been my happy place.
        A place where I feel at home and know I can always have fun. Since then I’ve realized sharing that passion by helping others achieve their goals keeps my drive growing even faster.
        Additionally the community I’ve found within CrossFit has provided me with many of my closest friends and many who I look up to and help me become not only a better athlete, but a better person.
        Becoming a bigger part of and extending that community as a coach gives me some of my greatest sense of achievement and I’m excited to see where the journey takes me.
      </p>
    </div>
  </div>

</div>
