<div class="banner coaches">
  <div class="ui grid container">
    <h1 class="banner-header">COACHES</h1>
  </div>
</div>

<div class="ui vertically stackable centered grid">
  <div class="row">
    <div class="three wide column">
      <img class="ui medium circular image" src="/assets/drew.jpg">
    </div>
    <div class="seven wide column">
      <h1 class="ui huge header">
        Drew Smith
          <div class="ui sub header">Coach & Co Owner</div>
          <div class="sub header">drew@elliottbaycrossfit.com</div>
      </h1>

      <p>
        In 2006, I was working out at an LA fitness and just going through the motions of being a body builder when a buddy told me to try this workout he saw on the Internet.
        That humbling workout led me back to CrossFit.com and the rest is history.
        CrossFit gave me an outlet for my competitive drive that I had been missing since I left high school sports.
        After all these years doing CrossFit I realize that it has given me so much more than just fitness — it has given me a community and some great friends.
        The CrossFit community allows me to workout and truly care about the person working out next to me.
      </p>
      <p>
        These past 7 years, I have learned a great deal through hands-on experience and the advice of some truly amazing mentors.
        I truly want everyone who comes to our gym to walk away fitter and more knowledgeable about movement.
        This is my passion and I try and share that passion through my instruction.
      </p>
    </div>
  </div>

  <div class="ui horizontal divider">
    <i class="anchor icon"></i>
  </div>

  <div class="row">
    <div class="three wide column">
      <img class="ui medium circular image" src="/assets/rohan.jpg">
    </div>
    <div class="seven wide column">
      <h1 class="ui huge header">
        Rohan Joseph
        <div class="ui sub header">Coach & Co Owner</div>
        <div class="sub header">rohan@elliottbaycrossfit.com</div>
      </h1>

      <p>
        I used to be one of the fat asthmatic kids, with a flabby gut below a nice pair of man boobs.
        In 6th grade, I tried out for the Math Relay team (I’m an engineer outside of CrossFit, math is my thing) and was cut for being too slow.
        It was quite pathetic. Finally, midway through high school, after years of torment (mostly from my brother), I decided to take a look at fitness and make some serious changes.
        I’ve never looked back since and now always look for ways to push my limits.
      </p>
      <p>
        While living in CA in 2008, a buddy from my football team brought me to his gym.
        Here they focused solely on functional movement, but were primarily strength based.
        Regardless, I was hooked and began seeing changes/improvements I hadn’t known before.
        When I moved back to WA I tried to find something similar and settled with a local powerlifting gym; I even competed.
        I enjoyed it, but yearned for something more multi-dimensional.
        Luckily I came across YouTube highlights of the ’09 CrossFit Games.
        I couldn’t stop watching. Not only could these guys powerlift, they had athletic ability in so many other facets.
        Like real life ninja training. I had to get a piece. That’s when I walked into my local box and did Karen day 1.
        I felt like I was going to die. I couldn’t wait for day 2…
      </p>
      <p>
        Since then, CrossFit has evolved into much more than my daily workout.
        It’s part of who I am and the lifestyle I choose to live.
        It’s opened so many doors and introduced me to so many new friends, including Drew and Reshen.
        I can easily say, while the fitness aspects are amazing, the community it has created for me is the number one benefit and one I hope to pass along at Elliott Bay CrossFit.
      </p>
    </div>
  </div>

  <div class="ui horizontal divider">
    <i class="anchor icon"></i>
  </div>

  <div class="row">
    <div class="three wide column">
      <img class="ui medium circular image" src="/assets/reshen.jpg">
    </div>
    <div class="seven wide column">
      <h1 class="ui huge header">
        Reshen Amin
        <div class="ui sub header">Co Owner</div>
        <div class="sub header">reshen@elliottbaycrossfit.com</div>
      </h1>

      <p>
        In March 2009, after much convincing from some close friends, I gave CrossFit a try.
        My first workout was a truly humbling experience and would forever alter my expectations of fitness.
      </p>
      <p>
        In late 2010, I moved to Seattle without knowing a single soul in the city.
        I quickly found and joined a local CrossFit gym. Somewhat unsurprising, I found a community very similar to the one that I deeply missed from my prior gym.
      </p>
      <p>
        In each of the CrossFit gyms I’ve had the opportunity to spend time in, one thing has always stuck out – our gyms build amazing communities.
        Over the five years that I’ve been CrossFitting, these communities have given me so much – a deep passion for challenging myself to go further,
        life-long friends, a healthy and constructive way to leave the worries of work behind, and of course, fitness.
         My hope is that Elliott Bay CrossFit provides a vibrant and healthy community to the next generation of CrossFitters, and we’re going to do our very best to make sure that happens.
      </p>
    </div>
  </div>

</div>
