<div class="ui header">Contact Us</div>
<div id="map"></div>

<script>
     function initMap() {
       var mapDiv = document.getElementById('map');
       var myLatLng = {lat: 47.614265, lng: -122.345141};
       var map = new google.maps.Map(mapDiv, {
         center: myLatLng,
         zoom: 15,
         scrollwheel: false
       });

       var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        title: 'Hello World!'
      });
     }
   </script>
   <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
       async defer></script>
