{{google-map}}


<div class="ui centered two column grid">
  <div class="ui six wide column">
    <div class="ui header">
      You can find us in-between 2nd and 3rd on Bell St. Our front door is just off of Bell Street in the alley next to the dog park.
    </div>

    <div class="ui header">
      209 Bell St
      <br>
      Seattle, WA 98121
    </div>

    <button class="ui primary button"{{action "getDirections"}}>Get Directions</button>

    <div class="ui header">
      info@elliottbaycrossfit.com
    </div>

  </div>

  <div class="ui five wide column">
    <img class="ui medium image" src="/assets/street_view.png">
  </div>
</div>
