{{google-map}}


<div class="ui centered two column stackable grid contact">
  <div class="ui five wide column">
    <p class="large">
      You can find us in-between 2nd and 3rd on Bell Street. Our front door is just off of Bell Street in the alley next to the dog park.
    </p>

    <div class="ui large header">
      209 Bell St
      <br>
      Seattle, WA 98121
    </div>

    <a class="ui primary button" href="https://www.google.com/maps/place/Elliott+Bay+CrossFit">GET DIRECTIONS</a>

    <div class="ui large header">
      info@elliottbaycrossfit.com
    </div>

  </div>

  <div class="ui five wide column">
    <img class="ui medium image" src="/assets/street_view.png">
  </div>
</div>
