<div class="ui header">Contact Us</div>
<div id="map"></div>

<script>
     function initMap() {
       var mapDiv = document.getElementById('map');
       var map = new google.maps.Map(mapDiv, {
         center: {lat: 47.614265, lng: -122.345141},
         zoom: 15,
         scrollwheel: false
       });
     }
   </script>
   <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
       async defer></script>
