<div class="ui container center aligned error-message">
  <i class="frown huge icon"></i>
  <h1 class="ui header">404</h1>
  <div class="ui header">
    Oops, looks like the page you are looking for doesn't exist or another error occurred.
  </div>
</div>
