<div class="banner getting-started">
  <div class="ui grid container">
    <h1 class="banner-header">GETTING STARTED</h1>
  </div>
</div>

<div class="ui stackable vertically centered grid container">
  <div class="row">
    <div class="center aligned column">
      <p class="large">
        Not sure where to start?
        You’ve come to the right place!
        On this page you’ll find information about the sport of CrossFit, classes we offer, and how to sign up.
        Have any other questions?
        No problem, just send an e-mail to info@elliottbaycrossfit.com, and we’ll get you an answer as soon possible.
      </p>
    </div>
  </div>

  <div class="ui horizontal divider">
    <i class="anchor icon"></i>
  </div>

  <div class="row">
    <div class="sixteen wide center aligned column">
      <div class="ui large header primary">
        THE SPORT OF FITNESS
      </div>
    </div>
  </div>

  <div class="row">
    <div class="six wide column">
      {{ui-embed data-source="youtube" data-id="tzD9BkXGJ1M"}}
    </div>

    <div class="ten wide center aligned column">
      <p class="large">
        CrossFit is an effective way to get fit. Anyone can do it.
        It is a fitness program that combines a wide variety of functional movements into a timed or scored workout.
        We do pull-ups, squats, push-ups, weightlifting, gymnastics, running, rowing, and a host of other movements.
        Always varied, always changing, always producing results.
        Kids, cops, firefighters, soccer moms, Navy SEALS, and grandmas all do CrossFit.
        In fact, hundreds of thousands worldwide have followed our workouts and distinguished themselves in combat, the streets, the ring, stadiums, gyms and homes.
        Courtesy of CrossFit Inc.
      </p>
    </div>
  </div>


  <div class="ui horizontal divider">
    <i class="anchor icon"></i>
  </div>

  <div class="row">
    <div class="center aligned column">
      <div class="ui large header primary">
        NEW TO CROSSFIT?
      </div>
      <p class="large">
        If you are new to CrossFit, our On-Ramp classes are the best place to start.
        This is our introductory series of classes that get you ready for what we do in regular CrossFit classes.
        On Ramp is a series of 6 classes over 2 weeks and are taught in a small group setting.
        The goal is to get you familiar with the movements, get you moving safely and consistently, and have a good time!
        After your two weeks are completed, we encourage you to attend normal classes for a third week at no additional cost.
        Ready to get started or have a few questions? Shoot us an email at info@elliottbaycrossfit.com and we let you know when our next onramp starts.
      </p>
    </div>
  </div>

  <div class="ui horizontal divider">
    <i class="anchor icon"></i>
  </div>

  <div class="row">
    <div class="center aligned column">
      <div class="ui large header primary">
        HOW TO SIGN UP
      </div>
      <p class="large">
        If you are ready to sign up for regular classes you will need to create a new account with our parnter, MindBody.
        MindBody accounts are private to each gym, so if you’ve used MindBody in the past at a different gym, you’ll need to create a new account on ours.
        Setup your personal information and payment method on the My Info tab.
        Then, purchase a month-to-month contract by selecting Online Store > Contracts from the tabs at the top.
      </p>
      <div class="ui header">Sign up with MindBody</div>
      <a class="ui primary button" href="https://clients.mindbodyonline.com/classic/home?studioid=146625">SIGN UP</a>
    </div>
  </div>

</div>
