{{title-banner img-src="getting-started" page-title="GETTING STARTED"}}

<div class="ui stackable vertically centered grid container page-grid">
  <div class="row">
    <div class="fourteen wide center aligned column">
      <p class="large">
        Not sure where to start?
        You’ve come to the right place!
        On this page you’ll find information about the sport of CrossFit, classes we offer, and how to sign up.
        Have any other questions?
        No problem, just send an e-mail to info@elliottbaycrossfit.com, and we’ll get you an answer as soon possible.
      </p>
    </div>
  </div>

  <div class="ui horizontal divider">
    <i class="anchor icon"></i>
  </div>

  <div class="row">
    <div class="sixteen wide center aligned column">
      <div class="ui large header primary">
        THE SPORT OF FITNESS
      </div>
    </div>
  </div>
  <div class="row">
    <div class="six wide computer ten wide tablet column">
      {{ui-embed data-source="youtube" data-id="tzD9BkXGJ1M"}}
    </div>


    <div class="nine wide left aligned computer only column">
      <p class="large">
        CrossFit is an effective way to get fit. Anyone can do it.
        It is a fitness program that combines a wide variety of functional movements into a timed or scored workout.
        We do pull-ups, squats, push-ups, weightlifting, gymnastics, running, rowing, and a host of other movements.
        Always varied, always changing, always producing results.
        Kids, cops, firefighters, soccer moms, Navy SEALS, and grandmas all do CrossFit.
        In fact, hundreds of thousands worldwide have followed our workouts and distinguished themselves in combat, the streets, the ring, stadiums, gyms and homes.
        Courtesy of CrossFit Inc.
      </p>
    </div>

    <div class="sixteen wide center aligned mobile only tablet only column">
      <br>

      <p class="large">
        CrossFit is an effective way to get fit. Anyone can do it.
        It is a fitness program that combines a wide variety of functional movements into a timed or scored workout.
        We do pull-ups, squats, push-ups, weightlifting, gymnastics, running, rowing, and a host of other movements.
        Always varied, always changing, always producing results.
        Kids, cops, firefighters, soccer moms, Navy SEALS, and grandmas all do CrossFit.
        In fact, hundreds of thousands worldwide have followed our workouts and distinguished themselves in combat, the streets, the ring, stadiums, gyms and homes.
        Courtesy of CrossFit Inc.
      </p>
    </div>
  </div>

  <div class="ui horizontal divider">
    <i class="anchor icon"></i>
  </div>

  <div class="row">
    <div class="sixteen wide center aligned column">
      <div class="ui large header primary">
          NEW TO CROSSFIT?
      </div>
    </div>
  </div>
  <div class="row">
    <div class="nine wide right aligned computer only column">
      <p class="large">
        If you are new to CrossFit, our On-Ramp classes are the best place to start.
        This is our introductory series of classes that get you ready for what we do in regular CrossFit classes.
        On Ramp is a series of 6 classes over 2 weeks and are taught in a small group setting.
        The goal is to get you familiar with the movements, get you moving safely and consistently, and have a good time!
        After your two weeks are completed, we encourage you to attend normal classes for a third week at no additional cost.
        Ready to get started or have a few questions? Shoot us an email at info@elliottbaycrossfit.com and we will let you know when our next onramp starts.
      </p>
    </div>

    <div class="sixteen wide center aligned mobile only tablet only column">
      <p class="large">
        If you are new to CrossFit, our On-Ramp classes are the best place to start.
        This is our introductory series of classes that get you ready for what we do in regular CrossFit classes.
        On Ramp is a series of 6 classes over 2 weeks and are taught in a small group setting.
        The goal is to get you familiar with the movements, get you moving safely and consistently, and have a good time!
        After your two weeks are completed, we encourage you to attend normal classes for a third week at no additional cost.
        Ready to get started or have a few questions? Shoot us an email at info@elliottbaycrossfit.com and we will let you know when our next onramp starts.
      </p>
    </div>

    <div class="five wide center aligned mobile only computer only column">
      <img class="ui centered middle aligned medium image getting-started" src="/assets/hspu-min-small.jpg">
    </div>

  </div>


  <div class="ui horizontal divider">
    <i class="anchor icon"></i>
  </div>

  <div class="row">
    <div class="fourteen wide center aligned column">
      <div class="ui large header primary">
        HOW TO SIGN UP
      </div>
      <p class="large">
        If you are ready to sign up for regular classes you will need to create a new account with our partner, Front Desk.
        Click the "Get Started" button and click the "New Purchase" under Plans and Passes.
        From there select a plan or pass and click "add to cart" and then choose "Secure Checkout" and follow the steps. 
        For those new to CrossFit, click the "Get Started" button and click the "Services."
        There select On Ramp, choose the correct class dates, click enroll and follow the steps.
      </p>
      <div class="ui header">Sign up with Front Desk</div>
      <a class="ui huge primary button" href="https://elliottbaycrossfit.frontdeskhq.com/people/3047546-rohan-joseph/shop" target="_blank">SIGN UP</a>
    </div>
  </div>

</div>
