<div class="home">
  <!-- <h1>Elliott Bay CrossFit</h1> -->
</div>
<!-- <div>
  <img class="ui fluid image" src="/assets/home.jpg">
</div> -->

<div class="ui two column centered grid">
  <div class="four wide column">
    <h1 class="home-wod">Workout of the Day</h1>
  </div>
  <div class="four wide column">
    {{#each model as |wod|}}
      <div class="ui header huge">{{wod.prettyDate}}</div>
      {{#if wod.strength}}
        <div class="ui large header orange">STRENGTH</div>
        <div class="home-pre">{{wod.strength}}</div>
      {{/if}}
      {{#if wod.conditioning}}
        <div class="ui large header orange">CONDITIONING</div>
        <div class="home-pre">{{wod.conditioning}}</div>
      {{/if}}

    {{/each}}
  </div>
</div>
