<h1>Elliott Bay CrossFit</h1>

<p></p>

<!-- {{#each model as |rentalUnit|}}
  {{rental-listing rental=rentalUnit}}
{{/each}}

{{#link-to "about"}}About{{/link-to}}
{{#link-to "contact"}}Click here to contact us.{{/link-to}} -->
{{model.title}}
{{#each model as |wod|}}
  <h2>{{wod.title}}</h2>
{{/each}}
