{{title-banner img-src="wods" page-title="NEWS"}}

<br>

<div class="ui stackable centered two column grid page-grid">

  <div class="eight wide column wod-list">
    {{#if loading}}
        <div class="ui active inverted dimmer">
          <div class="ui large text loader wod-loader">Loading</div>
        </div>
    {{/if}}
    {{#each sortedPosts as |post|}}

      {{post-item post=post}}

      <br>
      <hr>
      <br>
    {{/each}}

    <br>

  </div>
</div>
