{{title "Pricing"}}

<div class="ui center aligned four column stackable very relaxed grid container pricing page-grid">
  <div class="fourteen wide column">
    <p class="large">
      We try to keep our memberships simple. We charge month to month, with no long-term commitments required.
      You can cancel at anytime directly through Front Desk or by contacting us at info@elliottbaycrossfit.com.
      If you find yourself traveling frequently or otherwise occupied, and you need to suspend your membership for a time, just let us know and we’d be happy to take care of it for you.
      You may also want to consider our Punch Card option.
      Finally, we provide a 10% discount to members of the same family and to LEO/Mil/Fire personnel.
    </p>
  </div>

  <hr>

  <div class="row">
    <div class="seven wide tablet four wide computer computer only tablet only column">
      <div class="ui raised segment">
        <div class="row">
          <h1 class="ui primary header">DROP-IN</h1>
        </div>
        <div class="row">
          <h2>Free</h2>
        </div>
        <p>
          If you’re visiting from another CrossFit gym, send us an e-mail to reserve a spot.
          We ask that you avoid our 6am and 6pm classes, as they tend to be our largest.
          If you’d like to support us, pick up one of our shirts during your visit.
        </p>
      </div>
    </div>

    <div class="seven wide tablet four wide computer computer only tablet only column">
      <div class="ui raised segment">
        <div class="row">
          <h1 class="ui primary header">ON-RAMP</h1>
        </div>
        <div class="row">
          <h2>$99 + tax</h2>
        </div>
        <p>
          On-Ramp is our introductory series of 6 classes over 2 weeks where we get you ready for our regular CrossFit classes.
          After your two weeks are completed, we encourage you to attend classes for a third week at no additional cost.
        </p>
      </div>
    </div>

    <div class="seven wide tablet four wide computer computer only tablet only column">
      <div class="ui raised segment">
        <div class="row">
          <h1 class="ui primary header">UNLIMITED</h1>
        </div>
        <div class="row">
          <h2>$190 + tax</h2>
        </div>
        <p>
          This is our standard class package.
          With it you can attend an unlimited amount of regular scheduled classes as well as yoga & olympic lifting.
        </p>
      </div>
    </div>
    <div class="seven wide tablet four wide computer computer only tablet only column">
      <div class="ui raised segment">
        <div class="row">
          <h1 class="ui primary header">PUNCH CARD</h1>
        </div>
        <div class="row">
          <h2>$210 + tax</h2>
        </div>
        <p>
          Our Punch Card option is good for 10 classes.
          Come in any time that fits your schedule.
          You can also renew when your option runs out.
        </p>
      </div>
    </div>


    <div class="mobile only column mobile-pricing">
      <div class="ui raised segment">
        <div class="row">
          <h1 class="ui primary header">DROP-IN</h1>
        </div>
        <div class="row">
          <h2>Free</h2>
        </div>
        <p>
          If you’re visiting from another CrossFit gym, send us an e-mail to reserve a spot.
          We ask that you avoid our 6am and 6pm classes, as they tend to be our largest.
          If you’d like to support us, pick up one of our shirts during your visit.
        </p>
      </div>
    </div>
    <div class="mobile only column mobile-pricing">
      <div class="ui raised segment">
        <div class="row">
          <h1 class="ui primary header">ON-RAMP</h1>
        </div>
        <div class="row">
          <h2>$99 + tax</h2>
        </div>
        <p>
          On-Ramp is our introductory series of 6 classes over 2 weeks where we get you ready for our regular CrossFit classes.
          After your two weeks are completed, we encourage you to attend classes for a third week at no additional cost.
        </p>
      </div>
    </div>
    <div class="mobile only column mobile-pricing">
      <div class="ui raised segment">
        <div class="row">
          <h1 class="ui primary header">UNLIMITED</h1>
        </div>
        <div class="row">
          <h2>$190 + tax</h2>
        </div>
        <p>
          This is our standard class package.
          With it you can attend an unlimited amount of regular scheduled classes as well as yoga & olympic lifting.
        </p>
      </div>
    </div>
    <div class="mobile only column mobile-pricing">
      <div class="ui raised segment">
        <div class="row">
          <h1 class="ui primary header">PUNCH CARD</h1>
        </div>
        <div class="row">
          <h2>$210 + tax</h2>
        </div>
        <p>
          Our Punch Card option is good for 10 classes.
          Come in any time that fits your schedule.
          You can also renew when your option runs out.
        </p>
      </div>
    </div>


  </div>

  <hr>

  <div class="row">
    <div class="fourteen wide column">
      <p class="large">
        If you are ready to sign up for regular classes you will need to create a new account with our partner, Front Desk.
        Click the "Get Started" button and click the "New Purchase" under Plans and Passes.
        From there select a plan or pass and click "add to cart" and then choose "Secure Checkout" and follow the steps.
      </p>
      <div class="ui header">Sign up with Front Desk</div>
      <a class="ui huge primary button" href="https://elliottbaycrossfit.frontdeskhq.com/people/3047546-rohan-joseph/shop" target="_blank">SIGN UP</a>
    </div>
  </div>
</div>
