{{title-banner img-src="pricing" page-title="PRICING"}}

<div class="ui center aligned four column stackable doubling very relaxed grid container pricing page-grid">
  <div class="fourteen wide column">
    <p class="large">
      We try to keep our memberships simple. We charge month to month, with no long term commitments required.
      You can cancel at anytime directly through MindBody or by contacting us at info@elliottbaycrossfit.com.
      If you find yourself traveling frequently or otherwise occupied, and you need to suspend your membership for a
      time – just let us know and we’d be happy to take care of it for you or you may want to consider our Punch Card
      options. Finally, we provide a 10% discount to members of the same family and to LEO/Mil/Fire personnel.
    </p>
  </div>

  <div class="ui horizontal divider">
    <i class="anchor icon"></i>
  </div>

  <div class="row">
    <div class="six wide tablet four wide computer computer only tablet only column">
      <div class="ui raised segment">
        <div class="row">
          <h1 class="ui primary header">DROP-IN</h1>
        </div>
        <div class="row">
          <h2>Free</h2>
        </div>
        <p>
          If you’re visiting from another CrossFit gym, send us an e-mail at info@elliottbaycrossfit.com to reserve a spot.
          If you’d like to support us, pick up one of our shirts during your visit.
        </p>
      </div>
    </div>
    <div class="six wide tablet four wide computer computer only tablet only column">
      <div class="ui raised segment">
        <div class="row">
          <h1 class="ui primary header">ON-RAMP</h1>
        </div>
        <div class="row">
          <h2>$99 + tax</h2>
        </div>
        <p>
          On-Ramp is our introductory series of 6 classes over 2 weeks where we get you ready for our regular CrossFit classes.
          After your two weeks are completed, we encourage you to attend classes for a third week at no additional cost.
        </p>
      </div>
    </div>
    <div class="six wide tablet four wide computer computer only tablet only column">
      <div class="ui raised segment">
        <div class="row">
          <h1 class="ui primary header">UNLIMITED</h1>
        </div>
        <div class="row">
          <h2>$190 + tax</h2>
        </div>
        <p>
          This is our standard class package.
          With it you can attend an unlimited amount of regular scheduled classes as well as yoga.
        </p>
      </div>
    </div>
    <div class="six wide tablet four wide computer computer only tablet only column">
      <div class="ui raised segment">
        <div class="row">
          <h1 class="ui primary header">PUNCH CARD</h1>
        </div>
        <div class="row">
          <h2>$210 + tax</h2>
        </div>
        <p>
          Our punch card option is good for 10 classes.
          Come any time that fits your schedule and renew when you run out.
        </p>
      </div>
    </div>


    <div class="four wide mobile only column mobile-pricing">
      <div class="ui raised segment">
        <div class="row">
          <h1 class="ui primary header">DROP-IN</h1>
        </div>
        <div class="row">
          <h2>Free</h2>
        </div>
        <p>
          If you’re visiting from another CrossFit gym, send us an e-mail at info@elliottbaycrossfit.com to reserve a spot.
          If you’d like to support us, pick up one of our shirts during your visit.
        </p>
      </div>
    </div>
    <div class="four wide mobile only column mobile-pricing">
      <div class="ui raised segment">
        <div class="row">
          <h1 class="ui primary header">ON-RAMP</h1>
        </div>
        <div class="row">
          <h2>$99 + tax</h2>
        </div>
        <p>
          On-Ramp is our introductory series of 6 classes over 2 weeks where we get you ready for our regular CrossFit classes.
          After your two weeks are completed, we encourage you to attend classes for a third week at no additional cost.
        </p>
      </div>
    </div>
    <div class="four wide mobile only column mobile-pricing">
      <div class="ui raised segment">
        <div class="row">
          <h1 class="ui primary header">UNLIMITED</h1>
        </div>
        <div class="row">
          <h2>$190 + tax</h2>
        </div>
        <p>
          This is our standard class package.
          With it you can attend an unlimited amount of regular scheduled classes as well as yoga.
        </p>
      </div>
    </div>
    <div class="four wide mobile only column mobile-pricing">
      <div class="ui raised segment">
        <div class="row">
          <h1 class="ui primary header">PUNCH CARD</h1>
        </div>
        <div class="row">
          <h2>$210 + tax</h2>
        </div>
        <p>
          Our punch card option is good for 10 classes.
          Come any time that fits your schedule and renew when you run out.
        </p>
      </div>
    </div>


  </div>

  <div class="ui horizontal divider">
    <i class="anchor icon"></i>
  </div>

  <div class="row">
    <div class="fourteen wide column">
      <p class="large">
        If you are new to CrossFit and are interested in signing up for our On-Ramp classes, please shoot us an email at info@elliottbaycrossfit.com.
        If you are ready to sign up for our regular classes you will need to create a new account with our partner, MindBody.
        MindBody accounts are private to each gym, so if you’ve used MindBody in the past at a different gym, you’ll need to create a new account on ours.
        Setup your personal information and payment method on the My Info tab.
        Then, purchase a month-to-month contract by selecting Online Store > Contracts from the tabs at the top.
      </p>
      <div class="ui header">Sign up with MindBody</div>
      <a class="ui huge primary button" href="https://clients.mindbodyonline.com/classic/home?studioid=146625">SIGN UP</a>
    </div>
  </div>
</div>
