{{title-banner img-src="schedule" page-title="SCHEDULE"}}

<div class="ui center aligned three column very relaxed grid stackable container schedule page-grid">

  <div class="five wide computer only column">
    <div class="ui raised segment">

      <div class="row">
        <h1 class="ui primary header">ON-RAMP</h1>
      </div>

      <div class="row">
        <h2 class="">Monday & Wednesday
        </h2>
        <span class="sub header">
          8pm
        </span>
      </div>

      <br>

      <div class="row">
        <h2 class="">Saturday
        </h2>
        <span class="sub header">
          11:30am
        </span>
      </div>
    </div>
  </div>

  <div class="ten wide mobile only tablet only mobile-schedule column">
    <div class="ui raised segment">

      <div class="row">
        <h1 class="ui primary header">ON-RAMP</h1>
      </div>

      <div class="row">
        <h2 class="">Monday & Wednesday
        </h2>
        <span class="sub header">
          8pm
        </span>
      </div>

      <br>

      <div class="row">
        <h2 class="">Saturday
        </h2>
        <span class="sub header">
          11:30am
        </span>
      </div>
    </div>
  </div>

  <div class="five wide computer only column">
    <div class="ui raised segment">
      <div class="row">
        <h1 class="ui primary header">REGULAR CLASSES</h1>
      </div>

      <div class="row">
        <h2 class="">Monday - Friday</h2>
        <span class="header">
          6am - 7am - 8am - 12pm
        </span>
        <br>
        <span class="header">
          4pm - 5pm - 6pm - 7pm
        </span>
      </div>

      <br>

      <div class="row">
        <h2 class="">Saturday
        </h2>
        <span class="header">
          8:30am - 9:30am - 10:30am
        </span>
      </div>
    </div>
  </div>

  <div class="ten wide mobile only tablet only mobile-schedule column">
    <div class="ui raised segment">
      <div class="row">
        <h1 class="ui primary header">REGULAR CLASSES</h1>
      </div>

      <div class="row">
        <h2 class="">Monday - Friday</h2>
        <span class="header">
          6am - 7am - 8am - 12pm
        </span>
        <br>
        <span class="header">
          4pm - 5pm - 6pm - 7pm
        </span>
      </div>

      <br>

      <div class="row">
        <h2 class="">Saturday
        </h2>
        <span class="header">
          8:30am - 9:30am - 10:30am
        </span>
      </div>
    </div>
  </div>


  <div class="five wide computer only column">
    <div class="ui raised segment">
      <div class="row">
        <h1 class="ui primary header">YOGA</h1>
      </div>
      <div class="row">
        <h2 class="">Sunday
        </h2>
        <span class="header">
          10am
        </span>
      </div>
    </div>
  </div>

  <div class="ten wide mobile only tablet only mobile-schedule column">
    <div class="ui raised segment">
      <div class="row">
        <h1 class="ui primary header">YOGA</h1>
      </div>
      <div class="row">
        <h2 class="">Sunday
        </h2>
        <span class="header">
          10am
        </span>
      </div>
    </div>
  </div>

  <div class="ten wide column">
    <div class="ui header">Sign up for a class with MindBody</div>
    <a class="ui huge primary button" href="https://clients.mindbodyonline.com/classic/home?studioid=146625" target="_blank">SIGN UP</a>
  </div>
</div>
