{{title "Class Schedule"}}

<div class="ui center aligned four column very relaxed grid stackable container schedule page-grid">

  <div class="six wide computer only column">
    <div class="ui raised segment">

      <div class="row">
        <h1 class="ui primary header">ON-RAMP</h1>
      </div>

      <div class="row">
        <h2 class="">Monday & Wednesday
        </h2>
        <span class="sub header">
          8pm
        </span>
      </div>

      <br>

      <div class="row">
        <h2 class="">Saturday
        </h2>
        <span class="sub header">
          11:30am
        </span>
      </div>

      <div class="on-ramp row">
          * On-Ramp is a series of 6 classes over two weeks. To sign up email info@elliottbaycrossfit.com
      </div>
    </div>
  </div>

  <div class="ten wide mobile only tablet only mobile-schedule column">
    <div class="ui raised segment">

      <div class="row">
        <h1 class="ui primary header">ON-RAMP</h1>
      </div>

      <div class="row">
        <h2 class="">Monday & Wednesday
        </h2>
        <span class="sub header">
          8pm
        </span>
      </div>

      <br>

      <div class="row">
        <h2 class="">Saturday
        </h2>
        <span class="sub header">
          11:30am
        </span>
      </div>

      <div class="on-ramp row">
          * On-Ramp is a series of 6 classes over two weeks. To sign up email info@elliottbaycrossfit.com
      </div>
    </div>
  </div>

  <div class="six wide computer only column">
    <div class="ui raised segment">
      <div class="row">
        <h1 class="ui primary header">REGULAR CLASSES</h1>
      </div>

      <div class="row">
        <h2 class="">Monday - Friday</h2>
        <span class="header">
          6am - 7am - 12pm
        </span>
        <br>
        <span class="header">
          4pm - 5pm - 6pm - 7pm*
        </span>
      </div>

      <br>

      <div class="row">
        <h2 class="">Saturday
        </h2>
        <span class="header">
          8:30am - 9:30am - 10:30am
        </span>
      </div>

      <div class="on-ramp row">
          * No 7pm class on Fridays
      </div>
    </div>
  </div>

  <div class="ten wide mobile only tablet only mobile-schedule column">
    <div class="ui raised segment">
      <div class="row">
        <h1 class="ui primary header">REGULAR CLASSES</h1>
      </div>

      <div class="row">
        <h2 class="">Monday - Friday</h2>
        <span class="header">
          6am - 7am - 12pm
        </span>
        <br>
        <span class="header">
          4pm - 5pm - 6pm - 7pm*
        </span>
      </div>

      <br>

      <div class="row">
        <h2 class="">Saturday
        </h2>
        <span class="header">
          8:30am - 9:30am - 10:30am
        </span>
      </div>

      <div class="on-ramp row">
          * No 7pm class on Fridays
      </div>
    </div>
  </div>

  <div class="six wide computer only column">
    <div class="ui raised segment small">
      <div class="row">
        <h1 class="ui primary header">YOGA</h1>
      </div>
      <div class="row">
        <h2 class="">Wednesday
        </h2>
        <span class="header">
          7pm
        </span>
      </div>
    </div>
  </div>

  <div class="ten wide mobile only tablet only mobile-schedule column">
    <div class="ui raised segment">
      <div class="row">
        <h1 class="ui primary header">YOGA</h1>
      </div>
      <div class="row">
        <h2 class="">Wednesday
        </h2>
        <span class="header">
          7pm
        </span>
      </div>
    </div>
  </div>

  <div class="six wide computer only column">
    <div class="ui raised segment small">
      <div class="row">
        <h1 class="ui primary header">OLYMPIC LIFTING</h1>
      </div>
      <div class="row">
        <h2 class="">Tuesday & Thursday
        </h2>
        <span class="header">
          8pm
        </span>
      </div>
    </div>
  </div>

  <div class="ten wide mobile only tablet only mobile-schedule column">
    <div class="ui raised segment">
      <div class="row">
        <h1 class="ui primary header">OLYMPIC LIFTING</h1>
      </div>
      <div class="row">
        <h2 class="">Tuesday & Thursday
        </h2>
        <span class="header">
          8pm
        </span>
      </div>
    </div>
  </div>

  <div class="ten wide column">
    <div class="ui header">Sign up for a class with Front Desk</div>
    <a class="ui huge primary button" href="https://elliottbaycrossfit.frontdeskhq.com/people/3047546-rohan-joseph/shop" target="_blank">SIGN UP</a>
  </div>
</div>
