{{title-banner img-src="schedule" page-title="SCHEDULE"}}

<div class="ui center aligned three column very relaxed grid stackable container pricing">
  <div class="five wide column">
    <div class="row">
      <h1 class="ui primary header">REGULAR CLASSES</h1>
    </div>
    <div class="row">
      <h2 class="">Monday - Friday
        <h4 class="sub header">
          6am - 7am - 8am - 12pm - 4pm - 5pm - 6pm - 7pm
        </h4>
      </h2>
    </div>

    <br>

    <div class="row">
      <h2 class="">Saturday
        <h4 class="sub header">
          8:30am - 9:30am - 10:30am
        </h4>
      </h2>
    </div>
  </div>

  <div class="mobile only column">
    <div class="ui horizontal divider">
      <i class="anchor icon"></i>
    </div>
  </div>

  <div class="five wide column">
    <div class="row">
      <h1 class="ui primary header">ON-RAMP</h1>
    </div>
    <<div class="row">
      <h2 class="">Monday & Wednesday
        <h4 class="sub header">
          8pm
        </h4>
      </h2>
    </div>
    <br>
    <div class="row">
      <h2 class="">Saturday
        <h4 class="sub header">
          11:30am
        </h4>
      </h2>
    </div>
  </div>

  <div class="mobile only column">
    <div class="ui horizontal divider">
      <i class="anchor icon"></i>
    </div>
  </div>

  <div class="five wide column">
    <div class="row">
      <h1 class="ui primary header">YOGA</h1>
    </div>
    <div class="row">
      <h2 class="">Sunday
        <h4 class="sub header">
          10am
        </h4>
      </h2>
    </div>
  </div>
</div>
