{{title-banner img-src="schedule" page-title="SCHEDULE"}}

<div class="ui center aligned three column very relaxed grid stackable container pricing">
  <div class="five wide column">
    <div class="row">
      <h1 class="ui primary header">REGULAR CLASSES</h1>
      <!-- <div class="ui horizontal divider">
        <i class="anchor icon"></i>
      </div> -->
    </div>
    <div class="row">
      <h2 class="">Monday - Friday
        <h4 class="sub header">
          6am - 7am - 8am - 12pm - 4pm - 5pm - 6pm - 7pm
        </h4>
      </h2>
    </div>

    <br>

    <div class="row">
      <h2 class="">Saturday
        <h4 class="sub header">
          8:30am - 9:30am - 10:30am
        </h4>
      </h2>
    </div>
  </div>

  <div class="mobile only column">
    <div class="ui horizontal divider">
      <i class="anchor icon"></i>
    </div>
  </div>

  <div class="five wide column">
    <div class="row">
      <h1 class="ui primary header">ON-RAMP</h1>
      <!-- <div class="ui horizontal divider">
        <i class="anchor icon"></i>
      </div> -->
    </div>
    <<div class="row">
      <h2 class="">Monday & Wednesday
        <h4 class="sub header">
          8pm
        </h4>
      </h2>
    </div>
    <br>
    <div class="row">
      <h2 class="">Saturday
        <h4 class="sub header">
          11:30am
        </h4>
      </h2>
    </div>
  </div>

  <div class="mobile only column">
    <div class="ui horizontal divider">
      <i class="anchor icon"></i>
    </div>
  </div>
  
  <div class="five wide column">
    <div class="row">
      <h1 class="ui primary header">YOGA</h1>
      <!-- <div class="ui horizontal divider">
        <i class="anchor icon"></i>
      </div> -->
    </div>
    <div class="row">
      <h2 class="">Sunday
        <h4 class="sub header">
          10am
        </h4>
      </h2>
    </div>
  </div>
  <!-- <div class="row">
    <p>
    If you are new to CrossFit and are interested in signing up for our On-Ramp classes, please shoot us an email at info@elliottbaycrossfit.com.
    If you are ready to sign up for our regular classes you will need to create a new account with our parnter, MindBody.
    MindBody accounts are private to each gym, so if you’ve used MindBody in the past at a different gym, you’ll need to create a new account on ours.
    Setup your personal information and payment method on the My Info tab.
    Then, purchase a month-to-month contract by selecting Online Store > Contracts from the tabs at the top.
    </p>
  </div>
  <div class="row">
    <div class="ui header">If you haven't created an account with our gym, sign up with MindBody here</div>
  </div>
  <div class="row">
    <a class="ui primary huge button" href="https://clients.mindbodyonline.com/classic/home?studioid=146625">SIGN UP</a>
  </div> -->
</div>
